<% content_for :title do %>
  Modifier le forum «<%= @forum.name %>» | Sportfun
<% end %>
<section>
  <div class="container">
    <div class="entity__title">
      <h2 role="heading" aria-level="2">Modifier le forum «<%= link_to @forum.name, @forum %>»</h2>
    </div>
    <div class="entity__form">
      <%= render 'form' %>
    </div>
  </div>
</section>