<section>
	<div class="container">
		<h2>Create track</h2>
		<div id="mapErrors">
		  <p></p>
		</div>
		<div class="map">
			<div id="close">Close</div>
			<div id="reset">Reset</div>
			<div id="dist">dist</div>
			<div id="full">full</div>
			<div id="map_canvas"></div>
			<div id="elevation_chart"></div>
		</div>
		<%= render 'form' %>
		<%= link_to 'Retour', tracks_path %>
	</div>
	<% content_for :script do %>
		<%= google_maps_api %>
	<% end %>
</section>

