<nav role="navigation" class="secondary__navigation">
	<h2 role="heading" aria-level="2" class="hidden">Navigation Secondaire</h2>
	<ul>
		<li><%= link_to "Forums", forums_path, class: (controller?("forums") && action?("index") ? 'actif' : nil) %></li>
		<li><%= link_to "Utilisateurs", users_path, class: (controller?("users") && action?("index") ? 'actif' : nil) %></li>
	</ul>
</nav>