<% content_for :title do %>
  Modifier l'évènement «<%= link_to @happening.name, @happening %>» | Sportfun
<% end %>
<section>
  <div class="container">
    <div class="entity__title">
      <h2 role="heading" aria-level="2">Modifier l'évènement «<%= link_to @happening.name, @happening %>»</h2>
      <% if @group %>
        <h3 class="shared__links" role="heading" aria-level="3">Sur le groupe «<%= link_to @group.name, @group %>»</h3>
      <% end %>
    </div>
    <div class="entity__form">
      <%= render 'form' %>
    </div>
  </div>
</section>