<section>
<div class="container">
<h2>Create happening</h2>
<div id="happening-map"></div>
<div id="elevation_chart"></div>
<%= render 'form' %>
</div>
</section>
<% content_for :script do %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA9m3Ix3AmZHlnvQCQAIUo4yyFjD7c9eLw&sensor=true">
  </script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<%= javascript_include_tag "createEvent" %>

<% end %>