<section>
<div class="container">
<h2 role="heading" aria-level="2">Ajouter évènement</h2>
<% if @group %>
	<h3>Sur le groupe <%= link_to @group.name, @group %></h3>
<% end %>

<%= render 'form' %>
</div>
</section>