<section>
<div class="container">
<div class="left_column">
	<h3 role="heading" aria-level="3">Catégories</h3>
  <ul class="cat">
		<li>
			<%= link_to 'Boite de messagerie', :conversations %>
		</li>
		<li class="actif">
			<%= link_to 'Messages supprimés', :indextrash_conversation %>
		</li>
		<li>
			<%= link_to 'Démarer Conversation', :new_conversation %>
		</li>
	</ul>
	
</div>

<div class="primary_content">
	<h2 role="heading" aria-level="2">Corbeille</h2>
	<ul class="events">
	<%= render mailbox.trash %>
	</ul>
	
</div>

</div>
</section>