<% content_for :title do %>
  Modifier le groupe «<%= @group.name %>» | Sportfun
<% end %>
<section>
  <div class="container">
    <div class="entity__title">
      <h2 role="heading" aria-level="2">Modifier le groupe «<%= link_to @group.name, @group %>»</h2>
    </div>
    <div class="entity__form">
      <%= render 'form' %>
    </div>
  </div>
</section>