<section>
	<div class="container">
		<ul>
		<% for group in @groups %>
      <li class="thumbRace">
        <h4 role="heading" aria-level="4">
                <%= link_to group.name, group_path(group) %>
			  <% if user_signed_in? &&  group.owner.id == current_user.id %>
				| <%= link_to "Edit", edit_group_path(group) %>
				| <%= link_to "Delete", group, :method => 'delete' %>
			  <% end %>
				</h4>
		  </li>
		<% end %>
		</ul>
	</div>
</section>