<section>
  <div class="container">
    <div class="left_column">
      <h3 role="heading" aria-level="3">Rechercher un utilisateur</h3>
    </div>
    <div class="primary_content">
      <h2 role="heading" aria-level="2">Utilisateurs</h2>
      <ul>
      <% @users.each do |user| %>
        <li class="thumbRace">
          <%= image_tag user.avatar.url(:thumb) %>
          <h4 role="heading" aria-level="4">
            <%= link_to user.username, user_path(user) %>
            <% if user_signed_in? &&  user.id == current_user.id %>
            | <%= link_to "Edit", edit_user_registration_path(user) %>
            <% end %>
          </h4>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</section>