<% content_for :title do %>
  Erreur 404 | Sportfun
<% end %>
<section role="main">
	<div class="container entity__title">
		<h2 role="heading" aria-level="2">Page introuvable...</h2>
		<p class="results__none">Désolé, mais la page que vous tentez d'accéder n'existe pas ou à été supprimée.</p>
		<%= link_to "Retour à l'accueil", root_path %>
	</div>
</section>