<% content_for :title do %>
  Erreur 422 | Sportfun
<% end %>
<section role="main">
	<div class="container entity__title">
		<h2 role="heading" aria-level="2">Nous sommes dans l'incapacité d'effectuer votre requête</h2>
		<p class="results__none">Veuillez nous excuser pour le désagrément.</p>
	</div>
</section>