<% content_for :title do %>
  Erreur 500 | Sportfun
<% end %>
<section role="main">
	<div class="container entity__title">
		<h2 role="heading" aria-level="2">Le serveur à un problème.</h2>
		<p class="results__none">Il y a un problème côté serveur, nous faisont tout pour régler la situation.</p>
		<p class="results__none">Merci pour votre compréhension.</p>
	</div>
</section></h1>