


/////////----------------------------------------------------------------------------------
/////////Content  -------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------
#notice, #alert{
    border: 1px solid silver;
    background-color: $sky;
    margin: 0.5em 2em;
    padding: 0.5em;
}



/////////----------------------------------------------------------------------------------
/////////Gmap  ----------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------
#reset{
    display: inline-block;
    position: absolute;
    right: 10px;
    background-color: $sky;
    z-index: 10;
    padding: 0.4em;
    margin-right: 0.5em;
    font-size: 1.3em;
    &:hover{
        cursor:pointer;
        background-color: white;
    }
}

#close{
    @extend #reset;
    right: 95px;
}

#dist{
    @extend #reset;
    right: 180px;
    &:hover{
        cursor:default;
        background-color: $sky;
    }
}

#full{
    @extend #reset;
    bottom:0;
}


h2 span{
    float: right;
    font-size: 0.8em;
    a{    
        color:silver;
    }
}

table{
    width: 80%;
    margin: 0 10%;

    th{
        font-weight: bolder;
    }

    th, td{
        width: 10%;
        padding:1em;
        text-align: center;
        img{
            max-width: 60%;
        }
    }

    tfoot tr{
        border:none;
    }

    tr{
        border-bottom: 1px solid $sky;
    }

    th:nth-child(1), td:nth-child(1), th:nth-child(3), td:nth-child(3){
        width:20%;
    }
    th:nth-child(2), td:nth-child(2){
        width:30%;
    }
}

h2{
    text-align: center;
    margin: 0 0 0.7em;
}

.primary_content h2{
    padding: 0.3em 0 0.5em;
    border-bottom: 1px solid $sky;
}

.page{
    p{
        margin-bottom: 0.5em;
    }
    ul{
        list-style-type: circle;
        margin-left:1.5em;
        margin-bottom: 0.5em;
    }
}

.content__events{
    @include span-columns(10);
    @include shift(1);
}

.content__events:after{
    content:"";
    display: block;
    clear:both;
}

.content__thumbRace{
    border-bottom: 1px solid $sky;
    padding: 0.6em 0;
    box-sizing: border-box;
}

.thumbRace__list li{
    padding:0.3em 1em;
    display:inline-block;
}

.thumbRace__month{
    @extend .content__thumbRace;
    background-color: $sky;
    h3{
        text-align: center;
    }
}

.thumbRace__date{
    color:$blue;
}

.thumbRace__day{
    font-size: 2em;
    font-weight: 600;
}

.thumbRace__location{
    color:$orange;
}

.thumbRace__name{
    color:black;
    font-size:1.2em;
    text-align: center;
}

.thumbRace__distances{
    float: right;
}

.thumbRace__links, .thumbRace__distances, .delete{
    span{
        @include tooltip(s, rgba(0,0,0,0.8), 2px);
        padding: 0.3em 0 0;
    }
    a, button{
        background-color: transparent;
        margin:0;
        padding:0;
        border:none;
        color: rgba(0,0,0,0.5);
        display:inline-block;
        &:hover{
            background-color: transparent;
            color:black;
        }
    }
}


/////////----------------------------------------------------------------------------------
/////////Presentation  --------------------------------------------------------------------
/////////----------------------------------------------------------------------------------


.presenter{
    margin-top: 1.8em;
    @include span-columns(3);
    &:nth-child(5){
        @include omega;
    }
    text-align: center;
    .presenter__icon{
        margin: 1em 0 3em;
        i{
            padding:0.49em 0.4em;
            font-size: 3em;
            border: 1px solid $font;
            color: $font;
            border-radius: 100%;
        }
    }
    h3{
        margin-bottom: 1em;
    }
    margin-bottom:3em;

    @include media($tablet) {
        @include span-columns(4);
        &:nth-child(1), &:nth-child(3){
            @include omega;
        }
    }

    @include media($mobile){
        @include span-columns(4);
        p{
            @include span-columns(2);
            @include shift(1);
        }
    }
}

/////////----------------------------------------------------------------------------------
/////////Show race  -----------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

#happening-map, #map_canvas{
    height: 25em;
}

.map{
    border: 3px solid $sky;
    position:relative;
}

.visuels{
    @include span-columns(10);
    @include shift(2);
    @include omega;
    position:relative;
    box-sizing: border-box;
    img{
        max-width: 100%;
    }

    .aside{
        width: 21%;
        left:-21.3%;
    }
}
.head{
    overflow:hidden;
}


.users:after{
    content:"";
    display:block;
    clear:both;
}

.raceTitle{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    padding:0.3em 0.6em;
    span{

        font-size: 0.8em;
        color:$orange;
    }
}

.informations{
    width: 49%;
    float: left;
    margin-right: 1%;
    padding:1em;
}

.gallery{
    width: 49%;
    padding:1em;
    float: right;
    margin-left: 1%;
    li{
        width: 23%;
        margin: 1%;
        float: left;
        img{
            max-width: 100%;
        }
    }
}

.sponsors{
    background: white;
    padding:1em;
    margin-top: 1.5em;
    li{
        width: 18%;
        margin: 1%;
        float: left;
        img{
            max-width: 100%;
        }
    }
    &:after{
        content:"";
        display: block;
        clear:both;
    }
}

.raceDetails:after{
    content:"";
    display: block;
    clear:both;
}

.thumbs li img{
    border: 2px solid silver;
}

.head{
    margin-bottom: 1.5em;
}

.head:after{
    content:"";
    display:block;
    clear:both;
}

/////////----------------------------------------------------------------------------------
/////////Show user  -----------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.left_column{
    img{
        border:3px solid $darkBlue;
        display: block;
        margin:0.5em auto;
    }

    h3{
        padding: 0.5em 0 0.9em;
        text-align: center;
        border-bottom: 1px solid $sky;
    }

    form{
        padding: 0.5em;
    }

}


/////////----------------------------------------------------------------------------------
/////////Forums  --------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.left_column{
    border-right: 1px solid $sky;
    @include span-columns(3);
}

.primary_content{
    @include span-columns(9);
    @include omega;
}

.formTitle{ 
    padding:0.3em 0;
    font-size: 1.3em;
    margin-bottom: 0.3em;
    span{
        font-weight: lighter;
        display: block;
        font-size: 0.6em;
        color:silver;
    }
}
.cat{
    margin-top: 1em;
    li a{
        display: block;
        border: none;
        padding: 0.6em;
        margin-top: 0.1em;
        &:hover{
            background-color: $sky;
        }
    }
}

.actif{
    margin-left: -3px;
    border-left: 3px solid $sky;
}

.forumDetails{
    li{
        display: inline-block;
        margin-right: 2em;
    }

    li:last-child{
        margin-right: 0;
    }
}

.forum{
    .formTitle span{
        color: $font;
    }
    width: 100%;
    background-color: $cloud;
    margin-bottom: 1em;
    article{
        position:relative;
        @include span-columns(9 of 9);
        @include shift(0);
        @include omega;
        padding:0.5em;
        header{
            margin-bottom: 1em;
        }
        span{
            display: inline-block;
        }

    }
}

.shareButton{
    position:relative;
    padding: 0.3em;
}

.shareForum{
    li{
        display: block;
        width: 50%;
        float: right; 
        font-size: 1.3em;

        &:hover{
            background-color: $orange;
            color:white;
            >a{
                color:white;
            }
        }
    }
    li:nth-child(even){
        border-right: 1px solid $sky;
    }

    &:after{
        content:"";
        display: block;
        clear:both;
    }
}

.aside{
    position:absolute;
    top:0;
    width: 13%;
    left:-13.5%;
    text-align: center;
}


.share{
    .favorite{
        a{
            border-bottom: 1px dotted $font;
        }
    }
    min-height: 176px;
    li{
        padding: 0.4em 0.3em;
        p{
            padding: 0.4em 0.3em;
            border-bottom:1px solid $sky;
        }
        a{
            margin: 0 0.3em;
            border:none;
        }
        text-align: center;
        border-bottom:1px solid $sky;
    }

    >li:last-child{
        border-bottom:none;
    }
}

.events article{
    padding-bottom: 1em;
    border-bottom: 1px solid $sky;
}

.comment:after{
    content:"";
    display: block;
    clear: both;
}

.comment__header{
    padding:0.5em 0.5em 0;
    margin-bottom: 0.5em;
    @include span-columns(2 of 10);
    border-right: 1px solid $sky;
    h4{
        text-align: center;
        margin: 0 0 1em;
    }
    height: 100%;
    img{
        border:3px solid $darkBlue;
        display: block;
        margin:auto;
    }
}

.comment__body{
    padding:0.5em;
    @include span-columns(8 of 10);
    @include omega;
    p{
        margin: 0 0 0.5em;
    }
    h2{
        text-align: left;
    }
    ul, ol{
        margin-left: 2em;
    }
    ul{
        list-style-type: circle;
    }
    ol{
        list-style-type: decimal;
    }

    .button_to button{
        @extend .distance;
    }
}

.delete{
    display: inline-block;
}

/////////----------------------------------------------------------------------------------
/////////Media    -------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

// @media screen and (min-width: 20em){


//     aside{
//         padding:1em;
//     }

//     .contact{
//         margin:0;
//     }
//     .product{
//         padding:1em;
//         .item{
//             width:74%;
//             margin:0 auto 3em;
//             float:none;
//             padding:4%;
//         }
//         section{
//             padding-bottom: 0.1em;
//         }
//     }

//     .swipe{
//         display:none;
//     }


//     .header__logo, .user, .utils{
//         width:100%;
//         float:none;
//     }

//     div.user form{
//         width:100%;
//         padding:0;
//         left:0;
//         position:relative;
//         z-index: 100;
//     }

//     nav{
//         display:none;
//     }
//     .minWidth{
//         display:block;
//     }
// }

// @media screen and (min-width: 25em){

//     .header__logo, .user{
//         width:49%;
//         float:left;
//     }

//     .user{
//         margin-left:2%;
//         h3{
//         }
//     }

//     .product{
//         .item{
//             width:47%;
//             padding:1%;
//             float:left;
//         }
//         .item:nth-child(odd){
//             margin-right: 2%;
//         }
//     }

// }


// @media screen and (min-width: 30em){
//     .utils{
//         width:49%;
//         float:left; 
//     }

//     .header__logo{
//         width:100%;
//     }

//     .user{
//         margin-left:0;
//         margin-right:2%;
//     }
        
//     .minWidth{
//         .cat{
//             width:49%;
//             float:left;
//         }
//         .cat:nth-child(odd){
//             margin-right: 2%;
//         }
//     }
//     .minWidth:after{
//         content:"";
//         display:block;
//         clear:both;
//     }
// }




// @media screen and (min-width: 43em){

//     .contact{
//         margin:0 10%;
//     }

//     .footDiv{
//         width:33.3333333%;
//         float:left;
//     }


//     aside{
//         padding:0;
//     }

//     .product{
//         .item{
//             width:22%;
//             margin-right: 1%;
//             padding:1%;
//             float:left;
//         }
//         .item:nth-child(odd){
//             margin-right: 1%;
//         }
//     }
    
// }


// @media screen and (min-width: 52.5em){
//     nav{
//         display:block;
//     }

//     .login, .singin{
//         width:50%;
//         float:left;
//         margin-bottom: 1em;
//     }

//     .user h3{
//         width: 50%;
//         float:left;
//     }

//     .swipe{
//         display:block;
//     }
//     .minWidth{
//         display:none;
//     }

//     aside{
//         width:27%;
//         margin: 1.5%;
//         float:right;
//     }

//     .product{
//         float:left;
//         width:67%;
//         padding:1.5%;  
//     }
    
// }

// @media screen and (min-width:60em){
//     .header__logo{
//         width:20%;
//         float:left;
//     }

//     .utils{
//         width:30%;
//         float:left;
//         margin-top: 0.5em;
//     }

//     .user{
//         width: 35%;
//         float: left;
//         margin-left:0;
//         margin-right: 2%;
//         h3{
//             padding-top:0.5em;
//         }
//     }
// }
// @media screen and (min-width: 80em){
//     div.container{
//         width:75em;
//     }
// }