


/////////----------------------------------------------------------------------------------
/////////Content  -------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------
#notice, #alert{
    border: 1px solid silver;
    background-color: white;
    margin: 1.5em 0;
    padding: 0.5em;
    color: black;
    text-align: center;
}



/////////----------------------------------------------------------------------------------
/////////Gmap  ----------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------
.tracks.index{
    @include media($mobile){
        .map{
            display: none;
        }
        .left_column{
            display: block;
        }   
    }

    .left_column{
        display: none;
    }
}

.map{
    position:relative;
    overflow:hidden;
}

#map_canvas{
    height: 30em;
}

#elevation_chart svg g g g g rect { 
    stroke-width:0px; 
    fill:white; 
}


/////////----------------------------------------------------------------------------------
/////////Calendar -------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------
.calendar__header{
    h3{
        text-align: center;
        margin: 1em 0;
    }
}

.previous__month{
    margin-right: 1em;
}

.next__month{
    margin-left: 1em;
}

.previous__month, .next__month{
    font-size: 0.8em;
}

.calendar .not-month{
    background-color: transparent;
}

.calendar .today{
    background-color: $blue;
    color:white;
}


.calendar__events {
    padding:0.6em;
    background-color: $beige;
    height: 80px;
}

.calendar td{
    // &:hover{
    //     background-color: $blueLight;    
    // }
    position:relative;
    p{
        position: absolute;
        top:0.6em;
        right: 0.6em;
    }
    border: 1px solid white;
    height: 80px;
}

table{
    width: 100%;

    th{
        font-weight: bolder;
    }

    th, td{
        background-color: $sky;
        width: 14.28571428571429%;
    }

    tfoot tr{
        border:none;
    }
}

/////////----------------------------------------------------------------------------------
/////////page division  -------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.primary_content h2{
    padding: 0.3em 0 0.5em;
    border-bottom: 1px solid $sky;
}

.page{
    p{
        margin-bottom: 0.5em;
    }
    ul{
        list-style-type: circle;
        margin-left:1.5em;
        margin-bottom: 0.5em;
    }
}

.content__events{
    @include span-columns(10);
    @include shift(1);
}

.content__events:after{
    content:"";
    display: block;
    clear:both;
}


/////////----------------------------------------------------------------------------------
/////////Presentation  --------------------------------------------------------------------
/////////----------------------------------------------------------------------------------


.presenter{
    margin-top: 1.8em;
    @include span-columns(3);
    &:nth-child(5){
        @include omega;
    }
    text-align: center;
    .presenter__icon{
        margin: 1em 0 3em;
        i{
            padding:0.49em 0.4em;
            font-size: 3em;
            border: 1px solid $font;
            color: $font;
            border-radius: 100%;
        }
    }
    h3{
        margin-bottom: 1em;
    }
    margin-bottom:3em;

    @include media($tablet) {
        @include span-columns(4);
        &:nth-child(1), &:nth-child(3){
            @include omega;
        }
    }

    @include media($mobile){
        @include span-columns(4);
        // p{
        //     @include span-columns(2);
        //     @include shift(1);
        // }
    }
}

/////////----------------------------------------------------------------------------------
/////////Show race  -----------------------------------------------------------------------
/////////----------------------------------------------------------------------------------
.type{
    color: white;
    display: inline-block;
    font-size: 0.7em;
    margin-right: 0.3em;
    padding: 0.6em;
    border: none;
}
.dist{
    background-color: $blue;
    text-align: right;
}
.Course{
    background-color: $orange;
}
.Entrainement{
    background-color: $greenOk;
}
.Marche{
    background-color: $blue;
}
.Golden{
    background-color: $golden;
}

.add{
    background-color: $blue;
    padding: 0.6em;
    display: inline-block;
    cursor: pointer;
    color: white;
    border: none;
    &:hover{
        color: white;
        background-color: $carrot;
    }
}


#showImageForm{
    &:hover{
        cursor: pointer;
    }
}

.thumbs{
    padding: 0.6em;
    li{
        position:relative;
        margin-bottom: 1.4em;
        @include span-columns(2 of 8);
        @include media($mobile){
            @include span-columns(2 of 4);
        }
        img{
            max-width: 100%;
            border: 2px solid silver;
            transition: border-color 0.3s;
            &:hover{
                border-color:$blue;
            }
        }
        a{
            border:none;
        }
    }
    @include media($mobile){
        li:nth-child(2n){
            @include omega;
        }
    }
    li:nth-child(4n){
        @include omega;
    }
}
.delete_image{
    position: absolute;
    top:-0.7em;
    right: -0.7em;
    button{
        padding: 0.2em 0.15em;
        background-color: black;
        opacity: 0.6;
        transition: opacity 0.2s;
        color:white;
        border:none;
        border-radius: 50%;
        &:hover{
            opacity: 1;
            background-color: black;
        }
    }
}


/////////----------------------------------------------------------------------------------
/////////Show user  -----------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.left_column{
    img{
        border:3px solid $darkBlue;
        display: block;
        margin:0.5em auto;
    }
}


/////////----------------------------------------------------------------------------------
/////////Show group  ----------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.group__header{
    border-bottom: 1px solid $sky;
    padding-bottom: 0.9em;
    margin-bottom: 0.5em;
    h3{
        border:none;
    }
}

/////////----------------------------------------------------------------------------------
/////////Forums  --------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.left_column{
    @include span-columns(3);
    @include media($tablet){
        @include span-columns(8);
        @include omega;
    }
}

.primary_content{
    @include span-columns(9);
    @include omega;
    @include media($tablet){
        @include span-columns(8);
    }
}

.formTitle{ 
    padding:0.3em 0;
    margin-bottom: 0.5em;
    span{
        margin-top: 0.4em;
        font-weight: lighter;
        display: block;
        font-size: 0.6em;
        color:silver;
    }
}

.forumDetails{
    li{
        display: inline-block;
        margin-right: 2em;
    }

    li:last-child{
        margin-right: 0;
    }
}

.forum{
    .formTitle span{
        color: $font;
    }
    width: 100%;
    background-color: $cloud;
    margin-bottom: 1em;
    article{
        position:relative;
        @include span-columns(9 of 9);
        @include shift(0);
        @include omega;
        padding:0.5em;
        header{
            margin-bottom: 1em;
        }
        span{
            display: inline-block;
        }

    }
}

.shareButton{
    position:relative;
    // padding: 0.3em;
}

.shareForum{
    li{
        border-bottom:1px solid $sky;
        display: block;
        width: 50%;
        float: right; 
        font-size: 1.3em;
        a{
            display: block;
            padding: 0.4em 0.3em;
            border:none;
        }
        &:hover{
            background-color: black;
            >a{
                color:white;
            }
        }
    }
    li:nth-child(even){
        border-right: 1px solid $sky;
    }

    &:after{
        content:"";
        display: block;
        clear:both;
    }
}



.share{
    .favorite{
        a{
            border-bottom: 1px dotted $font;
        }
    }
    min-height: 176px;
    li{
        p{
            padding: 0.4em 0.3em;
            border-bottom:1px solid $sky;
        }
        text-align: center;
    }
}

.events article{
    padding-bottom: 1em;
    border-bottom: 1px solid $sky;
}

.comment:after{
    content:"";
    display: block;
    clear: both;
}

.comment__header{
    text-align: center;
    padding:0.5em 0.5em 0;
    margin-bottom: 0.5em;
    @include span-columns(2 of 10);
    h4{
        text-align: center;
        margin: 0 0 1em;
    }
    height: 100%;
    img{
        border:3px solid $darkBlue;
        display: block;
        margin:1em auto;
    }
}

.distances{
    background-color: transparent;
    border:none;
    padding:0;
    .tooltip{
        padding-top: 0.3em;
        @include tooltip(s, rgba(0,0,0,0.8), 2px);
    }
}

.comment__body{
    border-left: 1px solid $sky;
    padding:0.5em 2em;
    @include span-columns(8 of 10);
    @include omega;

    .button_to button{
        @extend .distances;
    }

    h4{
        margin-bottom: 1em;
    }
}

.markdown{
    margin: 0 0 0.5em;
    h2{
        text-align: left;
    }
    ul, ol{
        margin-left: 2em;
    }
    ul{
        list-style-type: circle;
    }
    ol{
        list-style-type: decimal;
    }
    p, ul, ol{
        margin-top: 0.8em;
    }
}

.delete{
    display: inline-block;
}

/////////----------------------------------------------------------------------------------
/////////Index  ---------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.entity__title{
    border-bottom: 1px solid $sky;
    position: relative;
    h2{
        font-size: 2em;
        padding: 0.8em 0.3em;
        span{
            font-size: 0.6em;
        }
    }
    >a{
        position: absolute;
        right: 1.7em;
        top: 1.7em;
        padding: 0.5em;
        background-color: $font;
        color: white;
        border: none;
    }
    &:after{
        content:"";
        display: block;
        clear:both;
    }
}

.happening h2{
    padding-top: 0.3em;
    border-bottom: 1px solid $sky;
}

.entity__informations{
    padding: 0.8em 0;
    li{
        padding:0 0.6em 0.5em;
        &:last-child{
            @include span-columns(8);
        }
        span{
            font-size: 1.3em;
            display: block;
        }
    }
    &:after{
        content:"";
        display: block;
        clear:both;
    }
}

.first__info{
    li{
        font-size: 1.3em;
        padding:0 0.3em 0.3em;
    }
    @include span-columns(4);
}

.happening #map_canvas{
    @include span-columns(9);
}

.entity__tracks{
    @include span-columns(3);
    @include omega;
}

.entity__categories{
    background-color: $sky;
    border-bottom: 1px solid $sky;
    li{
        float: left;
        &:first-child{
            padding: 0.6em;
            color: black;
            border-right: 3px solid black;
        }
    }
    a{
        padding: 0.6em;
        border: none;
        border-right: 1px solid white;
        display: inline-block;
        &:hover{
            background-color: $cloud;
            color: $blue;
        }
    }
    ul:after{
        content: "";
        display: block;
        clear: both;
    }

    .active{
        background-color: $cloud;
    }
}

.entity__forums, .entity__gallery{
    float: left;
    width: 50%;
    margin-top: 2em;
    h3{
        border-top: 1px solid $sky;
        border-bottom: 1px solid $sky;
    }
}

.entity__gallery{
    border-left: 1px solid $sky;

}


.entity__searchform, .entity__addimageform{
    background-color: $sky;
    li{
        float: left;
        padding: 0.6em;
        width: auto;
        margin-right: 0.5em;
        label, input, select{
            width: auto;
            margin:0;
            padding:0;
        }
        label{
            margin-right: 0.3em;
        }
        input[type="text"], label,input[type="submit"], [type="file"]{
            padding: 0.2em;
        }
        input[type="text"],input[type="date"]{
            border-color: silver;
            background-color: white;
            &:focus{
                border-color: $blue;
            }
        }
        input[type="submit"]{
            border:none;
            color: white;
            background-color: $blue;
            &:hover, &:focus{
                background-color: $carrot;
            }
        }

    }
    ul:after{
        content: "";
        display: block;
        clear: both;
    }
}
.entity__results{

}

.results__none{
    padding:0.6em;
}

.entity__result{
    border-bottom: 1px solid $sky;
    padding: 0.6em;
    &:last-child{
        border:none;
    }
}

.result__avatar img{
    width: 4em;
    display: block;
    border: 2px solid $sky;
}

.result__list li{
    float: left;
    margin-right: 0.6em;
}
.result__list:after{
    content:"";
    display: block;
    clear: both;
}

.result__month{
    @extend .entity__result;
    background-color: $sky;
    h3{
        text-align: center;
    }
}

.result__date{
    color:$font;
}

.result__day{
    font-size: 2em;
    font-weight: 600;
}

.result__location{
    color:$orange;
}

.result__name{
    color:black;
    h4{padding-top: 0.55em;font-size:1.2em;}
}

.result__distances{
    float: right;
}

.result__links, .result__distances, .delete{
    a, button{
        background-color: transparent;
        margin:0;
        padding:0;
        border:none;
        color: rgba(0,0,0,0.5);
        display:inline-block;
        &:hover{
            background-color: transparent;
            color:black;
        }
    }
}