

/////////----------------------------------------------------------------------------------
/////////Footer  --------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------



.footDiv{
    margin-bottom: 1.5em;
    @include span-columns(3);
    @include omega(4n);
    h4{
        padding:0.2em;
        margin-bottom: 0.3em;
    }
    ul{
        display: block;
       li{
            margin-top: 0.3em;
       }
    }
    color: $sky;
    a{
        color:$sky;   
    }
}

footer{
    margin-top: 2em;
    .container{border-top: 1px solid silver;}
    width: 100%;
    p{
        padding-top: 1.3em; 
        text-align: center;
    }
    div>div:after{
        content:"";
        display:block;
        clear:both; 
    }
}

.footDiv:nth-child(3){
    border:none;
}