




#error_explanation{
    width: 100%;
    padding: 1em;
    background-color: $sky;
    border: 1px solid $red;
    h2{
        margin: 0.5em 0;
    }
}

#mapErrors{
    @extend #error_explanation;
    display: none;
}

form{
    fieldset{
        padding:0;
        margin:0;
        border:none;
    }
    .distances{
        width: 100%;
        label:first-child{
            width: 100%;
            margin-bottom: 0.5em;
        }
        label{
            width: auto;
        }
        input{
            width: auto;
            margin-right: 0.4em;
        }
    }


    label{
        width: 100%;
        display: inline-block;
        margin-top: 0.3em;
        padding:0.3em 0;
    }
    input{
        width: 80%;
    }
    div:last-child{
        margin:0;
    }

}

[type="text"],[type="password"]{
    padding: 0.4em;
}

[type="date"]{
    padding:0.2em;
}

[type="text"],[type="password"],[type="date"],[type="email"], textarea{
    background-color: transparent;
    border: 1px solid $font;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    font-size: 1em;
    padding:0.5em;
    color:$font;
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: lighter;
    border-radius: 3px;
}


[type="submit"]:focus, textarea:focus, [type="text"]:focus,[type="password"]:focus,[type="date"]:focus,[type="email"]:focus{
    outline:none;
}

[type="submit"]:hover{
    cursor:pointer;
    background-color: $font;
    border-color: $font;
    color: $sky;
}

[type="submit"]{
    background-color: $sky;
    border:1px solid $sky;
    padding:0.4em;
    font-size: 1em;
    color:$font;
}

input:focus{
    border: 1px solid #FF7C00;
}

.field_with_errors{
    width: 100%;
    input, textarea{
        border-color: $red;
        background-color:$sky;
    }
}

.createForm{
    @include span-columns(6);
    @include shift(3);
}

.favorite .button_to{
    button{
        padding:0;
        border:none;
        background-color: transparent;
        &:hover{
            color:black;
            background-color: transparent;
        }
        span:hover{
            @include tooltip(s, rgba(0,0,0,0.8), 2px);
        }
    }
}

.button_to{
    display: inline-block;
    input{
        width: auto;
        padding: 0;
        margin: 0;
        background-color:transparent;
        border:none;
        display: inline;
        border-bottom: 1px dotted silver;
        &:hover, &:focus{
            background-color:transparent;
            color:$blue;
            border-color: $blue;
        }
    }

}