


/////////----------------------------------------------------------------------------------
/////////Header  --------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

body>header{
    position: relative;
    margin-bottom: 0.5em;
    width: 100%;
}

.headingRace{
    background: url('/assets/head.jpeg') fixed;
    background-size: 100%;
    height: 500px;
    border-bottom: 3px solid $orange;
}

.headingImg{
    background: image-url('head.jpg') fixed no-repeat;
    height: 400px;
    border-bottom: 3px solid $orange;
    h2{
        border:none;
        margin-bottom: 0;
    }
    h3{
        display: inline-block;
        margin-right: 1.5em;
    }
    img{
        //position:fixed;
        z-index: 1;
        max-width: 100%;
    }

    a{
        padding: 0.8em;
        font-size: 1.3em;
        margin-top: 0.6em;
        display: inline-block;
        background-color:$sky;
        border:none;
    }
    .container{
        top: 40%;
    }
}

.header__navbar{
    background-color: $blue;
    position: fixed;
    box-shadow: 0 0 5px black;
    z-index: 100;
    width: 100%;
}

.intro{
    h2{
        margin-bottom: 1em;
    }
    // position: absolute;
    padding: 1.5em;
    background-color: $darkBlueLight; 
    color:$sky;
    @include span-columns(10);
    @include shift(1);
    /*right: 50%;*/
}

.up{
    padding:1em;
}

.up:after{
    content:"";
    display:block;
    clear:both;
}


.header__logo a{
    border:none;
    color:$cloud;
    h1{
        box-sizing:border-box;
        margin: 0.3em 0 0;
        padding-left: 0.3em;
        font-size: 1.3em;
        width: 80%;
        float: right;
    }
    img{
        margin-top: 0.15em;
        box-sizing:border-box;
        width: 20%;
        float: left;
    }
}

.header__logo{
    @include span-columns(2);
    box-sizing:border-box;
}

.searchForm{
    @include span-columns(3);
    @include omega;
    margin-top: 0.1em;
}


.buttonSearch{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: lighter;
    border:none;
    background-color: $blueLight;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    margin:0;
    -moz-appearance: none;
    font-size: 1em;
    left:0;
    width:20%;
    border-top: 1px solid $sky;
    border-right: 1px solid $sky;
    border-bottom: 1px solid $sky;
    color:$sky;
    padding: 0.33em 0.1em;
    font-weight: lighter;
}

.buttonSearch:hover{
    cursor:pointer;
    background-color: $blue;
}

.buttonSearch:focus{
    outline: none;
}

#searchField:focus{
    outline: none;
    border-color: $orange;
}

#searchField:focus + .buttonSearch{
    border-color: $orange;
}

#searchField{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    width:80%;
    color:$sky;
    margin:0;
    padding:0;
    padding: 0.4em;
    border-radius: 0;
    border-color: $sky;
}
