


/////////----------------------------------------------------------------------------------
/////////Header  --------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.header{
    width: 100%;
    margin:0;
    padding:0;
}

.header__navbar{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid $sky;
    position: fixed;
    z-index: 1000;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

.headingImg{
    padding-top: 3em;
    background: image-url('head1.png') fixed repeat;
    border-bottom: 3px solid $sky;
    h2{
        border:none;
        margin-bottom: 0.3em;
    }
    h3{
        display: inline-block;
        margin-right: 1.5em;
        span{
            display: block;
            padding-top: 0.3em;
        }
        a{
            color: white;
        }
    }
}

div.intro{
    padding: 2em 0.5em;
    color:$sky;
}

.intro__presentation{
    h2{ 
        color: $sky;
        font-size: 2.5em;
        text-align: left;
    }
    h3{
        color: $sky;
    }

    p{
        font-size: 1.5em;
    }
    @include span-columns(7);
    @include media($mobile){
        @include span-columns(4 of 4);
        float: none;
    }
}

.intro__singup{
    h2{
        color: $sky;
        line-height: 2.5;
    }
    @include span-columns(5);
    @include omega;
    [type="text"], [type="email"], [type="password"]{
        border-color:silver;
        background-color:$cloud;
        color:black;
    }

    [type="submit"]{
        color:white;
        background-color: $blue;
    }

    @include media($mobile){
        margin-top: 1em;
        @include span-columns(4 of 4);
    }
    label{@extend %visuallyhidden;}
    input, .signin, h2{
        @include span-columns(3 of 5);
        @include shift(1);

        @include media($tablet){
            @include span-columns(5 of 5);
            @include shift(0);
        }
        @include media($mobile){
            @include span-columns(4 of 4);
            float: none;
            @include shift(0);
        }
    }
}

.header__logo{
    h1{
        a{
            display: inline-block;
            width: 100%;
            border:none;
            background-color: $blue;
            padding: 0.4em 0;
            text-align: center;
            color:$cloud;
        }
        margin: 0;
        font-size: 1.4em;
    }
    @include span-columns(2);
    @include media($tablet){
        @include span-columns(2);
    }
    @include media($mobile){
        @include span-columns(2);
    }
}
