


/////////----------------------------------------------------------------------------------
/////////Navigation  ----------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

nav [type="submit"]{
    margin:0;
    padding-right:0;
}

div.header__menu{
    @include media($mobile){
        @include span-columns(2);
        @include omega;
    }
}
.header__menu{
    @include media($phablet){
        a{
            display: block;
        }
        @include span-columns(4);
    }
    a{
        display: inline-block;
        border: none;
        padding: 1.1em 1.55em;
        font-size: 0.8em;
        color: black;
        &:hover{
            background-color: $cloud;
            color: $blue;
        }
    }
    display: none;
}

.map .event__actions{
    border: none;
    li{
        width: 20%;
        &:last-child button{
            border-right:none;
        }
    }
    ul{
        width: 100%;
    }
    button{
        text-align: center;
        border-bottom: none;
        border-top: 1px solid $sky;
        border-left: none;
        width: 100%;
        &:focus{
            outline:none;
        }
    }
}

.left_column .event__actions{
    li{
        float: none;
        display: block;
    }
    form{
        display: block;
        textarea{
            max-width: 100%;
        }
    }
}

#hideMap:hover{
    cursor: pointer;
}
.event__actions{
    h3{
        text-align: center;
        background-color: $sky;
        padding: 0.45em;
        border-right: 1px solid $sky;
        border-left: 1px solid $sky;
        border-top: 1px solid $sky;
    }
    input:focus, textarea:focus{
        background-color: $sky;
    }
    [type="submit"]{
        background-color: $blue;
        color: $cloud;
        text-align: center;
        &:hover{
            background-color: $carrot;
            color: $cloud;
        }
    }
    a, .button_to, #hideMap, button, input, textarea, #elevation_chart, .info__dist{
        border:none;
        border-right: 1px solid $sky;
        border-bottom: 1px solid $sky;
        background-color: white;
        margin:0;
        width: 100%;
        text-align: left;
        display: block;
        padding: 0.8em;
        font-size: 0.9em;
        color: black;
        &:focus{
            outline: none;
        }
        &:hover{
            background-color: $cloud;
            color:$blue;
        }
    }
    div#elevation_chart:hover{
        background-color: white;
    }
    li{
        float: left;
        &:first-child a,&:first-child .button_to [type="submit"]{
            border-top: 1px solid $sky;
        }
    }

    ul:after{
        content:"";
        display: block;
        clear:both;
    }
}


.lower__navigation{
    display: none;
    @include media($phablet){
        display: block;
    }
    h2{
        margin-bottom: 0.6em;
    }
    ul li{
        margin-bottom: 0.5em;
        display: block;
        form{
            width: 100%; 
        }
    }
    a, button{
        @extend .add;
        text-align: center;
        width: 50%;
        @include media($mobile){
            width: 100%;
        }
    }
}

nav.header__navigation{
    @include media($phablet){
        display: none;
    }
}

.header__navigation{
    font-size: 1.1em;
    @include media($tablet){
        @include span-columns(6);
        @include omega;
    }
    @include span-columns(10);
    @include omega;
    ul li{
        display: inline-block;
    }
    a, .button_to [type="submit"]{
        background-color: transparent;
        display: inline-block;
        border: none;
        color:black;
        padding: 1em 1.38em;
        font-size: 0.8em;
        &:hover{
            color:$blue;
            background-color: $cloud;
        }
    }
    .selected{
        padding-bottom: 0.7em;
        border-bottom: 0.3em solid $blue;
    }
}


.nav__user{
    float: right;
    a{
        padding-left: 3.5em;
    }
    img{
        display: block;
        width: 2.3em;
        height: 2.3em;
        position: absolute;
        left: 0.6em;
        top: 0.4em;
        border: 2px solid $sky;
    }
}

.nav__actions{
    position: relative;
    &:hover, &:focus {
        background-color: $cloud;
        ul {
        visibility: visible;
        opacity: 1;
        }
    }
    
    ul {
        width: 100%;
        transform: translate3d(0, 0, 0);
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: 1000000;
        background-color: $sky;
        white-space: nowrap;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
        right: 0;
        top: 100%;

        li{
            text-align: center;
            margin:0;
            display: block;
            border-left:none;
            border-top: 1px solid silver;
            &:hover{
                background-color:$cloud;
                >a{
                    background-color: transparent;
                }
            }
            a{
                border-left: 1px solid $sky;
                border-right: 1px solid $sky;
                padding: 1em;
                display: block;
                color:black;
            }
        }
    }
}

.secondary__navigation{
    >ul{
        width: 100%;
        border-bottom: 1px solid $sky;
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    li{
        float:left;
    }
    a, button, .share__button{
        background-color: transparent;
        display: inline-block;
        color:black;
        border: none;
        padding: 0.6em;
        border-right: 1px solid $sky;
        margin-bottom: -1px;
        &:hover{
            background-color: $cloud;
            color: $blue;
        }
    }
    .actif{
        border-bottom: 1px solid white;
        color: $blue;
    }
}

.social{
    &:hover{
        ul {
            visibility: visible;
           opacity: 1;
        }
    }
    a{
        color: $cloud;
        border: none;
        &:hover{
            color: $cloud;
        }
    }
    ul{
        transform: translate3d(0, 0, 0);
        visibility: hidden;
        opacity: 0;
        position:absolute;
        z-index: 1000;
    }
    li{
        display: block;
    }
}

.entity{
    width: auto;
    >ul{
        border-bottom: none;
        width: auto;
        float: right;
    }
    &:after{
        content:"";
        display: block;
        clear:both;
    }
    a, button, .share__button{
        z-index: 1000;
        border-left: 1px solid $sky;
        border-bottom: 1px solid $sky;
        border-right: none;
        margin:0;
    }
    .fb__button{
        background-color:$facebook;
        &:hover{
            background-color: $facebookHover;
        }
    }
    .gg__button{
        background-color:$googleplus;
        &:hover{
            background-color: $googleplusHover;
        }
    }
    .tw__button{
        background-color:$twitter;
        &:hover{
            background-color: $twitterHover;
        }
    }
    .mail__button{
        background-color:$blueLight;
        &:hover{
            background-color: $blue;
        }
    }
}