$blue: rgba(41, 128, 185,1.0);
$blueLight: rgb(61, 148, 205);
$blueExtraLight: rgba(41, 128, 185,0.15);
$orangeLight: rgba(230, 126, 34,0.15);
$sky: rgba(216, 220, 221,1.0);
$darkBlue: rgba(44, 62, 80,1.0);
$darkBlueLight: rgba(52, 73, 94,0.8);
$greenOk: rgba(46, 204, 113,1.0);
$orange: #d35400;
$red:rgba(231, 76, 60,1.0);
$font: rgba(84, 102, 120,1.0);
$cloud: rgba(236, 240, 241,1.0);
$carrotLigth: rgba(230, 126, 34,0.3);
$carrot: #e67e22;
$golden: #f1c40f;
$beige: #D1DBBD;

$header: #95a5a6;

$facebookHover: rgb(60,89,155);
$facebook: rgb(80,109,175);
$twitterHover: rgb(0,172,238);
$twitter: rgb(0,192,255);
$googleplusHover: rgb(223,74,50);
$googleplus: rgb(243,94,70);